{
  "tileset":"default",
  "name":"test",
  "boundary_conditions":[
    {
      "w_dir":335,
      "w_speed":"9",
      "tooltip_timer":{},
      "tooltip":false,
      "time":0
    },
    {
      "w_dir":356,
      "w_speed":"10",
      "tooltip_timer":{},
      "tooltip":false,
      "time":180
    },
    {
      "w_dir":3,
      "w_speed":"7",
      "tooltip_timer":{},
      "tooltip":false,
      "time":360
    },
    {
      "w_dir":24,
      "w_speed":"3",
      "tooltip_timer":{},
      "tooltip":false,
      "time":540
    },
    {
      "w_dir":226,
      "w_speed":"3",
      "tooltip_timer":{},
      "tooltip":false,
      "time":720
    }
  ],
  "ignitions":[
    "POINT:28.020265;-15.616062"
  ],
  "isochrone_thresholds": [0.01, 0.5, 0.75, 0.9],
  "w_dir":0,
  "time_res":10,
  "grid_dim_km":20,
  "init_date":"201802040000",
  "w_speed":0,
  "n_threads":100
}